AdditionSolution/_PrsentationLayer/Connected Services/ServiceReference/AdditionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdditionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57450/AdditionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57450/AdditionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57450/AdditionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_DataLayer.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdditionService_GetGarson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGarson" />
  </wsdl:message>
  <wsdl:message name="IAdditionService_GetGarson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGarsonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdditionService_Masalar_InputMessage">
    <wsdl:part name="parameters" element="tns:Masalar" />
  </wsdl:message>
  <wsdl:message name="IAdditionService_Masalar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MasalarResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdditionService">
    <wsdl:operation name="GetGarson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdditionService/GetGarson" message="tns:IAdditionService_GetGarson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdditionService/GetGarsonResponse" message="tns:IAdditionService_GetGarson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Masalar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdditionService/Masalar" message="tns:IAdditionService_Masalar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdditionService/MasalarResponse" message="tns:IAdditionService_Masalar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdditionService" type="tns:IAdditionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGarson">
      <soap:operation soapAction="http://tempuri.org/IAdditionService/GetGarson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Masalar">
      <soap:operation soapAction="http://tempuri.org/IAdditionService/Masalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdditionService">
    <wsdl:port name="BasicHttpBinding_IAdditionService" binding="tns:BasicHttpBinding_IAdditionService">
      <soap:address location="http://localhost:57450/AdditionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>