AdditionSolution/_PrsentationLayer/Connected Services/ServiceReference/AdditionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57450/AdditionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_DataLayer.Models" />
  <xs:element name="GetGarson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGarsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_DataLayer.Models" minOccurs="0" name="GetGarsonResult" nillable="true" type="q1:Garson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Masalar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MasalarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/_DataLayer.Models" minOccurs="0" name="MasalarResult" nillable="true" type="q2:ArrayOfMasa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>